<%= provide(:title, "Home") %>
<div class="center hero-unit">
	<h1>Welcome to the <%= link_to "Rails Drills App", "http://www.railstutorial.org" %>, Part 2</h1>

	<h3>This is the home page for the ruby on rails tutorial, drilled.</h3>

	<%= link_to "Sign Up Now!", signup_path, class: "btn btn-large btn-primary" %>
</div>