<% @user ||= current_user %>
<%= gravatar_for @user, size: 52 %>

<h1><%= @user.name %></h1>

<span><%= link_to "View my Profile", @user %></span>

<span><%= pluralize(@user.microposts.count, "Micropost") %></span>